body {
	background-color: #e8e8e8;
}

div.lateralMenu{
	text-align: center;
	margin-left: -94%;
	position: absolute;
	display: inline-block;
}

div.lateralMenu ul{
	list-style: none;
}

div.lateralMenu li{
	transition: 0.5s;
	cursor: pointer;
	margin-top: -9px;
	font-family: 'verdana';
	font-size: 9pt;
	width: 80px;
	color: white;
	padding: 10px;
	background-color: #0074a2;
	border: 2px solid white;
	z-index: 1;
}

div.lateralMenu li.selected{
	transition: 0.5s;
	cursor: pointer;
	margin-top: -9px;
	font-family: 'verdana';
	font-size: 9pt;
	width: 80px;
	color: #0074a2;
	padding: 10px;
	background-color: white;
	border: 2px solid #0074a2;
	border-right: 0px;
	position: relative;
	z-index: 2;	
}

div.lateralMenu li:HOVER{
	width: 100px;
	position: relative;
	z-index: 3;
	color: yellow;
}

div.bodyLateralMenu {
	margin-left: 10%;
	padding: 20px;
	padding-left: 50px;
	width: 80%;
	height: 1000px;
	display: none;
	position: relative;
	background-color: white;
}

div.bodyLateralMenuSelected {
	text-align: center;
	margin-left: 10%;
	padding: 20px;
	padding-left: 50px;
	width: 80%;
	height: 1000px;
	display: inline-block;
	position: relative;
	background-color: white;
}